---
layout: page
---
{% include scripts/firebase.html %}

<div id="plan">
  <!-- Responsive Header -->
  <section id="header-content">
    <h1>Memorize</h1>
  </section>
  <section class="bg"></section>
  <div class="row">
    <!-- Aside Navigation  -->
    <aside id="aside" class="col-md-4">
      {% include aside.html %}
    </aside>
    <!-- Post List -->
    <section id="dolists" class="col-md-8">
      <div class="highlighter-alarm" id="version" version="{{ site.dolist_version }}"></div>
      <div class="highlighter-rouge" id="LimitDays" limit_day="{{ site.dolist_days }}"> 
        <img src="../../assets/img/3248142.png" style="width: 15px; height: 15px;"/>
        암송 목록은 {{ site.dolist_days }} 일전 까지만 기록됩니다. 
      </div>
      <div>
        <p class="title">Memorized the Word</p>
        <ul class="skill-list">
          <li class="skill">
            <p class="name"></p>
            <div class="progress">
              <div id="progress-bar" class="progress-bar" style="width:0%">
                <div id="progress-value" class="progress-value">0%</div>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="row">
        <div id="DEPList" class="column">
          <section class="dolist-header">
            <h1 class="title">오늘의 DEP242</h1>
            <p class="subtitle"></p>
            <p class="meta" id="DEP">
            </p>
          </section>
        </div>
        <div id="showList" class="column">
          <section class="dolist-header">
            <h1 class="title">오늘의 암송 체킹</h1>
            <p class="subtitle"></p>
            <p class="meta" id="today">
              August 13, 2022
            </p>
          </section>
        </div>
      </div>

    </section>
    <div id="top" class="top-btn" onclick="moveTop()">
      <i class="fas fa-chevron-up"></i>
    </div>
    <a href="#" class="float" id="modal" onclick="showModal()" ondblclick="showMyModal()">
      <i class="fa fa-plus my-float"></i>
    </a>
  </div>
  <div id="dia" class="modal">
    <article class="modal__article">
      <h4 class="modal-title">암송 구절 추가하기</h4>
    </article>
    <div id="modal_body">
      <div class="omrs-input-group">
        <label class="omrs-input-underlined">
        <input id="category-item" required>
        <span class="omrs-input-label">Category</span>
        </label>
      </div>
      <div class="omrs-input-group">
        <label class="omrs-input-underlined">
          <input id="dolist-item" required>
          <span class="omrs-input-label">To Do</span>
        </label>
      </div>
    </div>
    <footer style="margin-top: 4rem;">
      <center>
        <a style="cursor:pointer" class="button -close" onclick="closeModal()">close</a>
        <a style="cursor:pointer" class="button -add" onclick="addToDo()">add</a>
      </center>
    </footer>
  </div>

  <div id="verseDetail" class="modal">
    <article class="modal__article">
      <h4 class="modal-title">구절 상세보기</h4>
    </article>
    <div id="vd_body">
    </div>
    <footer style="margin-bottom: 3rem;">
      <center>
        <a style="cursor:pointer;" class="button -close" onclick="closeDetail()">close</a>
      </center>
    </footer>
  </div>
</div>

{% include scripts/plan_setting.html %}

<script>
  function showModal() {
      $("#dia").css('opacity', 1);
      $("#dia").css('top', '50%');
      $('#category-item').val(`Myoung's OYO`);
  }

  function showMyModal() {
      $("#dia").css('opacity', 1);
      $("#dia").css('top', '50%');
      $('#category-item').val(`Young's OYO`);
  }

  function closeModal() {
      $("#dia").css('top', '-50%');
      $("#dia").css('opacity', 0);
  }
  document.addEventListener("DOMContentLoaded", function(event){
    // your code here
    setTimeout(() => {
      progressbarShow();
    }, 1000);
  });

</script>

<style>
a:hover{
  background-color: #1e4bd1;
  color: white;
  cursor: pointer;
}

  .delete{
    text-align: center;
    box-shadow: 2px 2px 3px #999;
    background-color: rgb(204, 0, 0);
    width: 25px;
    height: 25px;
    font-size: 15px;
    color: white !important;
    border-radius: 5px;
  }
  .box,
  .box_done,
  .task-list-item {
    list-style-type: none;
  }
  
  .task-list-item input {
    font-size: 16px;
    vertical-align: middle;
  }
  .skills { padding-top: 35px; }
  
  ul.skill-list { 
          margin-top: 20px;
          margin-left: 3%;
          list-style-type: none;
  }
  li.skill {
            margin: 18px auto;
  }
  .title{
    margin-top: 15px;
    color: #5497A7;
    font-size: 25px;
    font-weight: 600;
  }
  .name {
    padding-left: 5px;
    font-size: 0.85rem;
    font-weight: 600;
  }
  .progress {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 18px;
    background-color: rgba(0, 0, 0, 0.08);
    border-radius: 5px;
    animation-name: progressAnimation;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    -webkit-animation-name: progressAnimation;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
  }
  .progress-bar {
    position: absolute;
    height: 18px;
    background-color: #62A8AC;
  }
  
  .progress-value {
    position: absolute;
    right: 5px;
    color: #ddd;
    font-size: 0.6rem;
    font-weight: 600;
    line-height: 1.1rem;
  }
  
  
  .float{
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color:#0C9;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    box-shadow: 2px 2px 3px #999;

    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }

  .float:hover{
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }

  .my-float{
    margin-top:22px;
  }

  .modal {
      width: auto;
      height: auto;
      color: #33465E;
      background-color: white;
      position: fixed;
      top: -50%;
      left: 50%;
      transform: translate(-50%, -50%);
      box-shadow: 0 0 1rem rgba(black, 0.1);
      opacity: 0;
      transition: opacity 550ms ease-in-out;
      display: block;
      border: 1px solid #33465E;
  }
      
  article {
        text-align: center;
        padding: 1.5rem;
  }
  .modal-title {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 0.75rem;
  }

  .button {
      font-weight: bold;
      color: #fff;
      padding: 15px 35px;
      border: 2px solid #fff;
      transition: all 250ms ease-in-out;
  }    
  .button:hover {
      color: #fff;
      background-color: #666d7d;
  }
      
  .-close {
    background-color: #33465E;
    width: 100%;
    height: 100%;
  }

  .-add {
    background-color: #2f3f8e;
    width: 100%;
    height: 100%;
  }
/** BEGIN: Non Openmrs CSS **/
#modal_body{
  display: flex;
	align-items: flex-start;
	justify-content: space-around;
	border: 1px solid whitesmoke;
	padding: 21px;
	border-radius: 4px;
}

:root {
	--omrs-color-ink-lowest-contrast: rgba(47, 60, 85, 0.18);
	--omrs-color-ink-low-contrast: rgba(60, 60, 67, 0.3);
	--omrs-color-ink-medium-contrast: rgba(19, 19, 21, 0.6);
	--omrs-color-interaction: #1e4bd1;
	--omrs-color-interaction-minus-two: rgba(73, 133, 224, 0.12);
	--omrs-color-danger: #b50706;
	--omrs-color-bg-low-contrast: #eff1f2;
	--omrs-color-ink-high-contrast: #121212;
	--omrs-color-bg-high-contrast: #ffffff;
	
}
/** END: Non Openmrs CSS **/
div.omrs-input-group {
  position: relative;
  width: 20.4375rem;
}

/* Input*/
.omrs-input-underlined > input,
.omrs-input-filled > input {
	border: none;
	border-bottom: 0.125rem solid var(--omrs-color-ink-medium-contrast);
	width: 100%;
	height: 4rem;
	font-size: 1.0625rem;
	padding-left: 0.875rem;
	line-height: 147.6%;
	padding-top: 0.825rem;
	padding-bottom: 0.5rem;
}

.omrs-input-underlined > input:focus,
.omrs-input-filled > input:focus {
	outline: none;
}

.omrs-input-underlined > .omrs-input-label,
.omrs-input-filled > .omrs-input-label {
	position: absolute;
	top: 2rem;
	left: 0.875rem;
	line-height: 147.6%;
	color: var(--omrs-color-ink-medium-contrast);
	transition: top .2s;
}

.omrs-input-underlined > svg,
.omrs-input-filled > svg {
	position: absolute;
	top: 2rem;
	right: 0.875rem;
	fill: var(--omrs-color-ink-medium-contrast);
}

.omrs-input-underlined > .omrs-input-helper,
.omrs-input-filled > .omrs-input-helper {
	font-size: 0.9375rem;
	color: var(--omrs-color-ink-medium-contrast);
	letter-spacing: 0.0275rem;
	margin: 0.125rem 0.875rem;
}

.omrs-input-underlined > input:hover,
.omrs-input-filled > input:hover {
	background: var(--omrs-color-interaction-minus-two);
	border-color: var(--omrs-color-ink-high-contrast);
}

.omrs-input-underlined > input:focus + .omrs-input-label,
.omrs-input-underlined > input:valid + .omrs-input-label,
.omrs-input-filled > input:focus + .omrs-input-label,
.omrs-input-filled > input:valid + .omrs-input-label {
	top: 0;
	font-size: 0.9375rem;
	margin-bottom: 32px;;
}

.omrs-input-underlined:not(.omrs-input-danger) > input:focus + .omrs-input-label,
.omrs-input-filled:not(.omrs-input-danger) > input:focus + .omrs-input-label {
	color: var(--omrs-color-interaction);
}

.omrs-input-underlined:not(.omrs-input-danger) > input:focus,
.omrs-input-filled:not(.omrs-input-danger) > input:focus {
	border-color: var(--omrs-color-interaction);
}

.omrs-input-underlined:not(.omrs-input-danger) > input:focus ~ svg,
.omrs-input-filled:not(.omrs-input-danger) > input:focus ~ svg {
	fill: var(--omrs-color-ink-high-contrast);
}

/** DISABLED **/

.omrs-input-underlined > input:disabled {
	background: var(--omrs-color-bg-low-contrast);
	cursor: not-allowed;
}

.omrs-input-underlined > input:disabled + .omrs-input-label,
.omrs-input-underlined > input:disabled ~ .omrs-input-helper{
	color: var(--omrs-color-ink-low-contrast);
}

.omrs-input-underlined > input:disabled ~ svg {
	fill: var(--omrs-color-ink-low-contrast);
}


/** DANGER **/

.omrs-input-underlined.omrs-input-danger > .omrs-input-label, .omrs-input-underlined.omrs-input-danger > .omrs-input-helper,
.omrs-input-filled.omrs-input-danger > .omrs-input-label, .omrs-input-filled.omrs-input-danger > .omrs-input-helper{
	color: var(--omrs-color-danger);
}

.omrs-input-danger > svg {
	fill: var(--omrs-color-danger);
}

.omrs-input-danger > input {
	border-color: var(--omrs-color-danger);
}

.omrs-input-underlined > input {
	background: var(--omrs-color-bg-high-contrast);
}
.omrs-input-filled > input {
	background: var(--omrs-color-bg-low-contrast);
}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
</style>